{% extends "base.html" %}

{% block content %}

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>ارتباط با ما</h4>
                        <p>شما می توانید از طریق راه های ارتباطی زیر با ما در تماس باشید.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>آدرس</span>
                                <p>ایران، شیراز</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>تلفن</span>
                                <p>09113742547</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>ایمیل</span>
                                <p>example@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>نظر خود را بنویسید</h4>
                            <p>اگر سوال، انتقاد و یا پیشنهادی دارید با ما در تماس باشید.</p>
                            <form action="#" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="نام">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="ایمیل">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="پیام شما"></textarea>
                                        <button type="submit" class="site-btn">ارسال پیام</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

{% endblock %}
